


#parent{
display: grid;
grid-template-columns: repeat(8,1fr);
grid-gap: 30px 20px;

}


#grid{
  border: 1px solid black; 
  
  padding: 10px;
  font-size: 25px;
  background-color: indianred;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}
.grid1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / span 3; */

/* grid-row-start: 1;
grid-row-end: 5; */
grid-row: 1 / span 3;
grid-column: 1 / span 5;
}




