#box{
    width: 500px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    background-color: bisque;


    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
   

}